# Database
DATABASE_URL="mongodb+srv://user:password@cluster.mongodb.net/msme-cyber-shield"

# Clerk
CLERK_SECRET_KEY="sk_test_..."
CLERK_PUBLISHABLE_KEY="pk_test_..."

# Google Safe Browsing
GOOGLE_SAFE_BROWSING_API_KEY="AIza..."

# App
PORT=5000
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
